@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-outfit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea {
  @apply w-full border my-2 py-2 md:py-3 px-4 rounded-2xl text-sm md:text-base;
}

textarea {
  @apply h-auto resize-y;
}

button.primary {
  @apply bg-primary text-white px-2 py-3 text-center rounded-2xl w-full font-semibold md:text-xl;
}

button.reserve {
  @apply bg-gradient-to-r from-[#E51E4D] to-[#D70566] text-white px-2 py-4 rounded-xl w-full font-semibold md:text-xl hover:from-[#D70566] hover:to-[#E51E4D];
}

button.googleAuthBtn {
  @apply bg-gray-200 text-black mt-3 mb-8 px-2 py-3 text-center rounded-2xl w-full font-semibold md:text-xl flex items-center justify-center gap-2
}

button.secondary {
  @apply bg-white text-primary px-2 py-3 text-center rounded-2xl w-full font-semibold md:text-xl border-2 border-primary;
}
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  
  & .path {
    stroke: #E51E4D;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* #E51E4D */
/* #D70566 */